@charset "utf-8";
/* CSS Document */

@media all and (min-width:1025px) and (max-width:1200px){
	body{
		width:100%;
		max-width:1200px;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar a#logo{
		padding:0;
	}
	header #menu li a{
		padding:20px 10px 8px;
	}
	header #banner .title{
		width:87%;
		font-size:36px;
		line-height:normal;
	}
	header #banner .subtitle{
		width:87%;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	#highlight_block .col .heading{
		font-size:30px;
		height:80px;
	}
	section h6{
		font-size:26px;
	}
	section .description, section .prof-list .detail{
		min-height:105px;
		font-size:16px;
	}
	section .prof-list .heading{
		font-size:20px;
	}
	.ad_block .col{
		padding:40px;
	}
	.ad_block .col:last-child{
		padding:14% 9%;
	}
}

@media all and (min-width:794px) and (max-width:1024px){
	body{
		width:100%;
		max-width:1024px;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #menu li a{
		padding:28px 5px 8px;
		font-size:12px;
	}
	header #menu li li a{
		padding:8px 12px;
		font-size:10px;
	}
	header #top_bar a#logo{
		padding:0;
	}
	header #banner{
		padding:3.5% 7%;
	}
	header #banner .title{
		width:87%;
		font-size:36px;
		line-height:normal;
	}
	header #banner .subtitle{
		width:87%;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	#highlight_block .col .heading{
		font-size:28px;
		height:74px;
	}
	section h6{
		font-size:26px;
	}
	section .description, section .prof-list .detail{
		min-height:147px;
		font-size:16px;
	}
	section .prof-list .heading{
		font-size:20px;
	}
	.ad_block .col{
		padding:40px;
	}
	.ad_block .col:last-child{
		padding:18% 9%;
	}
}

@media all and (min-width:769px) and (max-width:793px){
	body{
		width:100%;
		max-width:793px;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #menu li a{
		padding:28px 5px 8px;
		font-size:12px;
	}
	header #menu li li a{
		padding:8px 12px;
		font-size:10px;
	}
	header #top_bar a#logo{
		padding:0;
	}
	header #banner{
		padding:1.5% 7%;
	}
	header #banner .title{
		width:87%;
		font-size:28px;
		line-height:normal;
	}
	header #banner .subtitle{
		width:87%;
		font-size:16px;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	#highlight_block .col .heading{
		font-size:24px;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:14px;
	}
	section h5{
		font-size:26px;
	}
	section h6{
		font-size:20px;
	}
	section .description, section .prof-list .detail{
		min-height:147px;
		font-size:14px;
	}
	section .prof-list .heading{
		font-size:20px;
	}
	.ad_block .col{
		padding:40px;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	footer .footer_links li, footer .footer_links li a{
		font-size:12px;
	}
	footer .footer_links li .footer_head{
		font-size:14px;
	}
	.black_bar a{
		font-size:10px;
	}
}

@media all and (min-width:641px) and (max-width:768px){
	body{
		width:100%;
		max-width:768px;
		font-size:0.75em;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar ul#menu{
		display:none;
	}
	header #top_bar a#logo{
		margin:0 auto;
		padding:0;
		display:block;
		float:none;
	}
	header #banner{
		padding:30px 20px;
		text-align:center;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header #banner .title{
		width:100%;
		font-size:1.6em;
		line-height:normal;
	}
	header #banner .subtitle{
		width:100%;
		font-size:1.0em;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	.btn, button{
		font-size:0.9em;
	}
	.inner_40{
		padding:20px;
	}
	#highlight_block{
		text-align:center;
	}
	#highlight_block .col{
		width:100%;
		float:none;
	}
	#highlight_block .col.rmargin{
		border:0;
	}
	#highlight_block .col .heading{
		font-size:1.2em;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:inherit;
	}
	#highlight_block .col:first-child{
		border:0;
	}
	section{
		padding:20px;
		text-align:center;
	}
	section .two-cols:first-child{
		margin-bottom:20px;
		width:100%;
		float:none;
	}
	section .two-cols{
		width:100%;
		float:none;
	}
	section h5{
		margin-bottom:20px;
		font-size:1.6em;
	}
	section h6{
		margin-bottom:20px;
		font-size:1.2em;
	}
	section .description, section .prof-list .detail{
		min-height:inherit;
		font-size:inherit;
		line-height:normal;
	}
	section .prof-list li{
		margin:0 auto 20px;
		width:100%;
		max-width:768px;
	}
	section .prof-list li:nth-child(2){
		margin:0 auto 20px;
	}
	section .prof-list .heading{
		font-size:1.2em;
	}
	.ad_block .col{
		padding:20px;
		width:100%;
		float:none;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	.ad_block .col .head{
		font-size:1.2em;
	}
	.ad_block .col .desc{
		font-size:inherit;
	}
	.ad_block .col .btn{
		font-size:0.9em;
	}
	footer{
		padding:20px;
		text-align:center;
	}
	footer .footer_links li{
		margin:2% auto;
		width:100%;
		font-size:0.9em;
		float:none;
	}
	footer .footer_links li:first-child, footer .footer_links li:last-child{
		margin:2% auto;
		width:100%;
	}
	footer .footer_links li a{
		font-size:0.9em;
	}
	footer .footer_links li .footer_head{
		font-size:1.1em;
	}
	footer .footer_links li img{
		margin:0 auto 10px;
	}
	.black_bar a{
		font-size:0.75em;
		display:block;
	}
	#slickmenu{
		display:none;
	}
	.slicknav_menu{
		display:block;
	}
}

@media all and (min-width:481px) and (max-width:640px){
	body{
		width:100%;
		max-width:640px;
		font-size:0.75em;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar ul#menu{
		display:none;
	}
	header #top_bar a#logo{
		margin:0 auto;
		padding:0;
		display:block;
		float:none;
	}
	header #banner{
		padding:30px 20px;
		text-align:center;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header #banner .title{
		margin-bottom:10px;
		width:100%;
		font-size:1.6em;
		line-height:normal;
	}
	header #banner .subtitle{
		width:100%;
		font-size:1.0em;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	.btn, button{
		font-size:0.9em;
	}
	.inner_40{
		padding:20px;
	}
	#highlight_block{
		text-align:center;
	}
	#highlight_block .col{
		width:100%;
		float:none;
	}
	#highlight_block .col.rmargin{
		border:0;
	}
	#highlight_block .col .heading{
		font-size:1.2em;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:inherit;
	}
	#highlight_block .col:first-child{
		border:0;
	}
	section{
		padding:20px;
		text-align:center;
	}
	section .two-cols:first-child{
		margin-bottom:20px;
		width:100%;
		float:none;
	}
	section .two-cols{
		width:100%;
		float:none;
	}
	section h5{
		margin-bottom:20px;
		font-size:1.6em;
	}
	section h6{
		margin-bottom:20px;
		font-size:1.2em;
	}
	section .description, section .prof-list .detail{
		min-height:inherit;
		font-size:inherit;
		line-height:normal;
	}
	section .prof-list li{
		margin:0 auto 20px;
		width:100%;
		max-width:768px;
	}
	section .prof-list li:nth-child(2){
		margin:0 auto 20px;
	}
	section .prof-list .heading{
		font-size:1.2em;
	}
	.ad_block .col{
		padding:20px;
		width:100%;
		float:none;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	.ad_block .col .head{
		font-size:1.2em;
	}
	.ad_block .col .desc{
		font-size:inherit;
	}
	.ad_block .col .btn{
		font-size:0.9em;
	}
	footer{
		padding:20px;
		text-align:center;
	}
	footer .footer_links li{
		margin:2% auto;
		width:100%;
		font-size:0.9em;
		float:none;
	}
	footer .footer_links li:first-child, footer .footer_links li:last-child{
		margin:2% auto;
		width:100%;
	}
	footer .footer_links li a{
		font-size:0.9em;
	}
	footer .footer_links li .footer_head{
		font-size:1.1em;
	}
	footer .footer_links li img{
		margin:0 auto 10px;
	}
	.black_bar a{
		font-size:0.75em;
		display:block;
	}
	#slickmenu{
		display:none;
	}
	.slicknav_menu{
		display:block;
	}
}

@media all and (min-width:361px) and (max-width:480px){
	body{
		width:100%;
		max-width:480px;
		font-size:0.75em;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar ul#menu{
		display:none;
	}
	header #top_bar a#logo{
		margin:0 auto;
		padding:0;
		display:block;
		float:none;
	}
	header #banner{
		padding:30px 20px;
		text-align:center;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header #banner .title{
		margin-bottom:10px;
		width:100%;
		font-size:1.6em;
		line-height:normal;
	}
	header #banner .subtitle{
		width:100%;
		font-size:1.0em;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	.btn, button{
		font-size:0.9em;
	}
	.inner_40{
		padding:20px;
	}
	#highlight_block{
		text-align:center;
	}
	#highlight_block .col{
		width:100%;
		float:none;
	}
	#highlight_block .col.rmargin{
		border:0;
	}
	#highlight_block .col .heading{
		font-size:1.2em;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:inherit;
	}
	#highlight_block .col:first-child{
		border:0;
	}
	section{
		padding:20px;
		text-align:center;
	}
	section .two-cols:first-child{
		margin-bottom:20px;
		width:100%;
		float:none;
	}
	section .two-cols{
		width:100%;
		float:none;
	}
	section h5{
		margin-bottom:20px;
		font-size:1.6em;
	}
	section h6{
		margin-bottom:20px;
		font-size:1.2em;
	}
	section .description, section .prof-list .detail{
		min-height:inherit;
		font-size:inherit;
		line-height:normal;
	}
	section .prof-list li{
		margin:0 auto 20px;
		width:100%;
		max-width:768px;
	}
	section .prof-list li:nth-child(2){
		margin:0 auto 20px;
	}
	section .prof-list .heading{
		font-size:1.2em;
	}
	.ad_block .col{
		padding:20px;
		width:100%;
		float:none;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	.ad_block .col .head{
		font-size:1.2em;
	}
	.ad_block .col .desc{
		font-size:inherit;
	}
	.ad_block .col .btn{
		font-size:0.9em;
	}
	footer{
		padding:20px;
		text-align:center;
	}
	footer .footer_links li{
		margin:2% auto;
		width:100%;
		font-size:0.9em;
		float:none;
	}
	footer .footer_links li:first-child, footer .footer_links li:last-child{
		margin:2% auto;
		width:100%;
	}
	footer .footer_links li a{
		font-size:0.9em;
	}
	footer .footer_links li .footer_head{
		font-size:1.1em;
	}
	footer .footer_links li img{
		margin:0 auto 10px;
	}
	.black_bar a{
		font-size:0.75em;
		display:block;
	}
	#slickmenu{
		display:none;
	}
	.slicknav_menu{
		display:block;
	}
}

@media all and (min-width:321px) and (max-width:360px){
	body{
		width:100%;
		max-width:360px;
		font-size:0.75em;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar ul#menu{
		display:none;
	}
	header #top_bar a#logo{
		margin:0 auto;
		padding:0;
		display:block;
		float:none;
	}
	header #banner{
		padding:30px 20px;
		text-align:center;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header #banner .title{
		margin-bottom:10px;
		width:100%;
		font-size:1.6em;
		line-height:normal;
	}
	header #banner .subtitle{
		width:100%;
		font-size:1.0em;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	.btn, button{
		font-size:0.9em;
	}
	.inner_40{
		padding:20px;
	}
	#highlight_block{
		text-align:center;
	}
	#highlight_block .col{
		width:100%;
		float:none;
	}
	#highlight_block .col.rmargin{
		border:0;
	}
	#highlight_block .col .heading{
		font-size:1.2em;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:inherit;
	}
	#highlight_block .col:first-child{
		border:0;
	}
	section{
		padding:20px;
		text-align:center;
	}
	section .two-cols:first-child{
		margin-bottom:20px;
		width:100%;
		float:none;
	}
	section .two-cols{
		width:100%;
		float:none;
	}
	section h5{
		margin-bottom:20px;
		font-size:1.6em;
	}
	section h6{
		margin-bottom:20px;
		font-size:1.2em;
	}
	section .description, section .prof-list .detail{
		min-height:inherit;
		font-size:inherit;
		line-height:normal;
	}
	section .prof-list li{
		margin:0 auto 20px;
		width:100%;
		max-width:768px;
	}
	section .prof-list li:nth-child(2){
		margin:0 auto 20px;
	}
	section .prof-list .heading{
		font-size:1.2em;
	}
	.ad_block .col{
		padding:20px;
		width:100%;
		float:none;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	.ad_block .col .head{
		font-size:1.2em;
	}
	.ad_block .col .desc{
		font-size:inherit;
	}
	.ad_block .col .btn{
		font-size:0.9em;
	}
	footer{
		padding:20px;
		text-align:center;
	}
	footer .footer_links li{
		margin:2% auto;
		width:100%;
		font-size:0.9em;
		float:none;
	}
	footer .footer_links li:first-child, footer .footer_links li:last-child{
		margin:2% auto;
		width:100%;
	}
	footer .footer_links li a{
		font-size:0.9em;
	}
	footer .footer_links li .footer_head{
		font-size:1.1em;
	}
	footer .footer_links li img{
		margin:0 auto 10px;
	}
	.black_bar a{
		font-size:0.75em;
		display:block;
	}
	#slickmenu{
		display:none;
	}
	.slicknav_menu{
		display:block;
	}
}

@media all and (max-width:320px){
	body{
		width:100%;
		max-width:320px;
		font-size:0.75em;
	}
	header #top_bar {
		padding: 10px 20px 20px;
	}
	header #top_bar ul#menu{
		display:none;
	}
	header #top_bar a#logo{
		margin:0 auto;
		padding:0;
		display:block;
		float:none;
	}
	header #banner{
		padding:30px 20px;
		text-align:center;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
	}
	header #banner .title{
		margin-bottom:10px;
		width:100%;
		font-size:1.6em;
		line-height:normal;
	}
	header #banner .subtitle{
		width:100%;
		font-size:1.0em;
		line-height:normal;
	}
	.main{
		width:96%;
	}
	.btn, button{
		font-size:0.9em;
	}
	.inner_40{
		padding:20px;
	}
	#highlight_block{
		text-align:center;
	}
	#highlight_block .col{
		width:100%;
		float:none;
	}
	#highlight_block .col.rmargin{
		border:0;
	}
	#highlight_block .col .heading{
		font-size:1.2em;
		height:auto;
	}
	#highlight_block .col .desc{
		font-size:inherit;
	}
	#highlight_block .col:first-child{
		border:0;
	}
	section{
		padding:20px;
		text-align:center;
	}
	section .two-cols:first-child{
		margin-bottom:20px;
		width:100%;
		float:none;
	}
	section .two-cols{
		width:100%;
		float:none;
	}
	section h5{
		margin-bottom:20px;
		font-size:1.6em;
	}
	section h6{
		margin-bottom:20px;
		font-size:1.2em;
	}
	section .description, section .prof-list .detail{
		min-height:inherit;
		font-size:inherit;
		line-height:normal;
	}
	section .prof-list li{
		margin:0 auto 20px;
		width:100%;
		max-width:768px;
	}
	section .prof-list li:nth-child(2){
		margin:0 auto 20px;
	}
	section .prof-list .heading{
		font-size:1.2em;
	}
	.ad_block .col{
		padding:20px;
		width:100%;
		float:none;
	}
	.ad_block .col:last-child{
		padding:18.5% 9%;
	}
	.ad_block .col .head{
		font-size:1.2em;
	}
	.ad_block .col .desc{
		font-size:inherit;
	}
	.ad_block .col .btn{
		font-size:0.9em;
	}
	footer{
		padding:20px;
		text-align:center;
	}
	footer .footer_links li{
		margin:2% auto;
		width:100%;
		font-size:0.9em;
		float:none;
	}
	footer .footer_links li:first-child, footer .footer_links li:last-child{
		margin:2% auto;
		width:100%;
	}
	footer .footer_links li a{
		font-size:0.9em;
	}
	footer .footer_links li .footer_head{
		font-size:1.1em;
	}
	footer .footer_links li img{
		margin:0 auto 10px;
	}
	.black_bar a{
		font-size:0.75em;
		display:block;
	}
	#slickmenu{
		display:none;
	}
	.slicknav_menu{
		display:block;
	}
}